@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik/rubik-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/rubik/rubik-700.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/rubik/rubik-800.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/raleway/raleway-800.woff2') format('woff2');
  font-display: swap;
}

:root {
  --basic-color: #ffffff;
  --special-color: #ffe17f;
  --basic-light-color: #f0f0f0;
  --footer-color: #444444;
  --base-text-color: #000000;
  --white-text-color: #ffffff;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'Rubik', 'sans-serif';
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  background-color: var(--basic-color);
  color: var(--base-text-color);
}

/*Шапка*/
.header-page {
  background-color: var(--basic-color);
}

.navigation {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  background-color: var(--special-color);
}

.header-container-left {
  width: 580px;
  display: flex;
  flex-direction: column;
}

.header-container-right {
  width: 580px;
  display: flex;
  flex-direction: column;
}

.navigation-search .navigation-search-item {
  font-family: inherit;
  font-weight: inherit;
  background-color: inherit;
  font-size: 16px;
  line-height: 20px;
}

.navigation-search-input {
  background-color: var(--special-color);
}

.navigation-user, .navigation-list {
  /*display: flex;*/
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-user .navigation-link {
  background-color: var(--special-color);
  color: var(--base-text-color);
  text-decoration: none;
}

.navigation-list {
  font-family: 'Raleway', 'sans-serif';
  line-height: 21px;
  font-weight: 800;
  color: var(--base-text-color);
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-list .navigation-link {
  color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
}

.slider-count {
  color: var(--white-text-color);
  font-size: 180px;
  font-weight: 700;
}

.open-catalog-list {
  list-style: none;
}

.open-catalog-link {
  color: var(--base-text-color);
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

/*Основной контент*/
.main-index {
  background-color: var(--basic-color);
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-title {
  font-family: 'Raleway', 'sans-serif';
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  white-space: pre-line;
}

.title b {
  font-weight: 800;
}

.description-inner {
  white-space: pre-line;
  margin: 0;
}

/*Секция с галереей и слайдером*/
.gallery-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.slider-button {
  height: 60px;
}

.slider-prev {
  order: -1;
}

.gallery-container-inner {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.button {
  font-family: 'Raleway', 'sans-serif';
  color: var(--base-text-color);
  font-weight: 800;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
}

.description-table strong {
  font-size: 36px;
  font-weight: 400;
}

.description-table th {
  font-size: 16px;
  font-weight: 400;
}

.description-pagination {
  margin: 0;
  padding: 0;
}

.main-title {
  margin: 0;
}

/*Секция с категориями продукции*/
.categories-container .categories-list {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.categories-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories-card:not(:last-child) {
  width: 160px;
  height: 253px;
  margin-right: 40px;
}

.categories-card-link {
  text-decoration: none;
}

.categories-card-image {
  display: block;
  margin: 0 auto;
}

.categories-card-title {
  font-family: 'Raleway', 'sans-serif';
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: var(--base-text-color);
  white-space: pre-line;
}

.categories-card-price {
  color: var(--base-text-color);
}

/*Секция с условиями продавца*/
.main-terms {
  background-color: var(--basic-light-color);
}

.terms-containers {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 142px;
  background-color: var(--basic-light-color);
}

.seller-terms {
  width: 280px;
  margin: 0;
  margin-right: 116px;
  padding: 0;
  list-style: none;
}

.seller-terms-deliver {
  width: 1160px;
  margin: 0 auto;
  background-color: var(--basic-light-color);
}

.seller-terms-deliver-link {
  font-family: 'Raleway', 'sans-serif';
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  color: var(--base-text-color);
}

.seller-terms-deliver-link b {
  display: block;
  font-weight: 800;
  height: 100px;
  width: 910px;
  margin: 0 auto;
  text-align: center;
  /*letter-spacing: 5px;*/
}

/*Секция с информацией о продавце*/
.about-seller-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
}

.about-us-container{
  width: 520px;
  margin-right: auto;
}

.contacts-container {
  width: 532px;
}

.about-seller-list {
  list-style: none;
}

.about-seller-deliver {
  line-height: 20px;
  font-weight: 700;
}

.contacts-subtitle {
  font-size: 24px;
  font-weight: 700;
}

.contacts-schedule {
  list-style: none;
}

.address {
  font-style: normal;
}

.contacts {
  color: var(--base-text-color);
  text-decoration: underline;
  font-style: normal;
}

/*Секция с рассылкой*/
.main-newsletter {
  background-color: var(--basic-light-color);
}

.subscription-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
  /*margin-bottom: 144px;*/
}

.newsletter-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.newsletter-form {
  width: 810px;
  margin-right: auto;
}

.subscription-title {
  width: 348px;
  margin-left: 7px;
  margin-right: auto;
}

.newsletter-email {
  font-family: 'Rubik', 'sans-serif';
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.description-inner-free {
  width: 160px;
  text-align: right;
}

.subscription-newsletter {
  width: 560px;
}

/*Подвал*/
.footer-page {
  background-color: var(--footer-color);
  color: var(--white-text-color);
}

.footer-page-container {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

.footer-address {
  width: 250px;
  margin-right: 100px;
}

.footer-social {
  width: 500px;
  margin-right: auto;
}

.footer-contacts {
  max-width: 190px;
}

.footer-address-text {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  white-space: pre-line;
}

.footer-navigation-list .footer-navigation-link {
  color: var(--white-text-color);
}

.contacts-footer {
  font-size: 16px;
  line-height: 20px;
  color: var(--white-text-color);
}

/*Шапка с хлебными крошками на странице: каталог*/
.breadcrumbs-container {
  width: 1160px;
  margin: 0 auto;
}

.breadcrumbs-list .breadcrumbs-link{
  color: var(--base-text-color);
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.breadcrumbs-item {
  list-style: none;
}

/*Секция с фильтром и изображением продукции на странице: каталог */
.catalog-product {
  background-color: var(--basic-light-color);
}

.product-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.catalog-list {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.catalog-title {
  font-size: 16px;
  line-height: 19px;
}

.catalog-sort {
  font-family: 'Rubik', 'sans-serif';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.catalog-item {
  list-style: none;
}

.catalog-filter {
  width: 320px;
  background-color: var(--basic-light-color);
}

.catalog-right-column {
  width: 840px;
}


.catalog-right-column .lineup-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.lineup-card-link {
  text-decoration: none;
}

.lineup-card-title {
  color: var(--base-text-color);
  font-weight: 700;
  line-height: 20px;
  margin: 0;
}

.lineup-card-price {
  color: var(--base-text-color);
  line-height: 21px;
}

.catalog-filter-title {
  line-height: 20px;
  font-weight: 700;
}

.catalog-filter-list li {
  list-style: none;
}

.control {
  font-size: 16px;
  line-height: 19px;
}

.button-submit {
  font-size: 18px;
}

.button-download-more {
  font-size: 16px;
  line-height: 19px;
}

.pagination {
  background-color: var(--basic-light-color);
  list-style: none;
}

.button-prev, .button-next {
  text-align: center;
}

.pagination-link {
  color: var(--base-text-color);
  opacity: 30%;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

